@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="container">
    <h1>Регистрация</h1>
    <a href="login">Войти</a>
    <form action="register" method="post">
        <div class="form-group">
            <label asp-for="SurName"></label>
            <input asp-for="SurName" class="form-control">
            <span asp-validation-for="SurName" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday" class="form-control">
            <span asp-validation-for="Birthday" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Confirm"></label>
            <input asp-for="Confirm" class="form-control">
            <span asp-validation-for="Confirm" style="color:red"></span>
        </div>
        <input type="submit" class="btn btn-primary">
    </form>

</div>
